.hero {
  margin: 0 120px;
  margin-top: 100px;
}
.hero-text {
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  line-height: 150px;
}
.hero-explore {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 20px;
  background: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 40px;
}
.hero-dots-play {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 35rem;
}
.hero-dots-play .hero-dot {
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
}
.hero-dots-play .orange {
  background: #985f84;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 19px;
  color: #fff;
  font-weight: 400;
}
