.nav {
  color: #fff;
  background: transparent;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem ;
  gap: 30rem;
  
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
ul li {
  list-style: none;
}
